@font-face {
    font-family: 'Aurebesh';
    src: url('../assets/font') format('otf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/*_______________CART_______________*/

.cart-section{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 80vh;
    gap: 4vw;
    margin: 3vw;
    margin-top: calc(70px + 5vw);
    font-family: "Josefin Sans", sans-serif;
}

.left-cart{
    background-color: rgba(40 ,36,36,0.5);
    border-radius: 1vw;
    width: 70vw;
    overflow: hidden;
}

.title-cart{
    display: flex;
    flex-direction: row;
}

.content-cart{
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

.left-flex1{
    display: flex;
    flex-direction: row;
    padding: 2vw;
    gap: 3vw;
    align-items: center;
}

.left-flex1 h1{
    font-size: calc(20px + 1vw);
    text-align: start;
    margin: 0;
}

.left-flex1 h2{
    font-size: calc(10px + 0.5vw);
    white-space: nowrap;
    text-align: start;
}

.title-cart{
    display: flex;
    flex-direction: column;
    width: 98%;
    text-align: center;
    gap:0;

}

#quality, #total-price, #price{
    width: 15vw;
    text-align: center;
}

/*_______________TICKETS_______________*/

.content-cart{
    position: relative;
    width: calc(96% - 15px);
    margin-left: 2vw;
    margin-right: 2vw;
}

.flex-ticket{
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: center;
    justify-content: center;

    gap: 4vw;
    font-family: "Josefin Sans", sans-serif;
}

.quantity, .ticket-price, .ticket-price-total{
    width: 15vw;
    text-align: center;
}


@font-face {
    font-family: Aurebesh;
    src: url("../assets/font/Aurabesh/Aurebesh.otf") format("opentype");
}

.ticket:first-child{
    margin-top: 50px;
}
.ticket-container{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.ticket {
    position: relative;
    background-image: url("../assets/map/ticket.png");
    background-size: cover;
    width: calc(50vw * 0.6);
    height: calc(22.5vw * 0.6);
    max-height: none;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.ticket:hover {
    filter: brightness(0.7);
}

.ticket:hover .cart-button {
    opacity: 1;
}

.cart-button {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkred;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    filter: brightness(1);
}

.cart-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.cart-button::before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 1500;
    color: white;
    font-size: 2rem;
}

.ticket img {
    border: solid white calc(0.2vw * 0.6);
    height: calc(9vw * 0.6);
    width: calc(13vw * 0.6);
    padding: calc(1vw * 0.6);
}

.ticket-flex1 {
    margin-left: calc(0.7vw * 0.6);
    width: calc(9vw * 0.6);
    overflow: visible;
}

.ticket-flex1 img {
    border: none;
    width: calc(6vw * 0.6);
    height: calc(6vw * 0.6);
    margin-top: calc(9vw * 0.6);
}

.ticket-flex1 p {
    margin-left: calc(4.5vw * 0.6);
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.5vw * 0.6);
    line-height: 0.1;
}

.credits {
    display: flex;
    flex-direction: row;
    margin-top: calc(-0.1vw * 0.6);
}

.credits img {
    border: none;
    width: calc(1.2vw * 0.6);
    height: calc(1.2vw * 0.6);
    margin-top: calc(-0.4vw * 0.6);
}

.ticket-flex2 {
    font-family: Aurebesh, serif;
    font-size: calc(1vw * 0.6);
    margin-top: calc(0.7vw * 0.6);
    line-height: 1.1;
}

.ticket-flex2 p {
    margin-left: calc(0.7vw * 0.6);
}

.ticket-flex2 p:first-child {
    margin-top: calc(5vw * 0.6);
}

.ticket-flex3 {
    margin-top: calc(0.7vw * 0.6);
    margin-left: calc(0.7vw * 0.6);
    width: calc(23vw * 0.6);
    font-family: "Josefin Sans", sans-serif;
}

.ticket-flex4 {
    border: solid white calc(0.2vw * 0.6);
    padding: 0 calc(0.7vw * 0.6) 0 calc(0.7vw * 0.6);
    max-width: 450px;
    line-height: 0.2;
}

.ticket-flex4 p {
    font-family: Aurebesh, serif;
    font-size: calc(1.3vw * 0.6);
    line-height: 0.2;
}

.ticket-flex4 h2 {
    font-size: calc(1.5vw * 0.6);
    line-height: 0.2;
}

.ticket-flex5 {
    border: solid white calc(0.2vw * 0.6);
    margin-top: calc(0.7vw * 0.6);
    width: calc(17vw * 0.6);
    line-height: 0.2;
    font-size: calc(1.1vw * 0.6);
}

.ticket-flex5 p {
    margin-left: calc(0.7vw * 0.6);
}

.ticket-flex5 h3 {
    margin-left: calc(0.7vw * 0.6);
    font-family: Aurebesh, serif;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    background-color: #E7C863;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.quantity-btn:hover {
    background-color: black;
    color: #E7C863;
}

.quantity-input {
    width: 1vw;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 10px;
    color: white;
}

.ticket-price-total{
    color: #E7C863;
}

/*_______________CART RIGHT_______________*/
.right-cart {
    width: 90%;
    max-width: 300px;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1em;
    font-family: "Josefin Sans", sans-serif;
    color: #333;
    margin: auto;
}

.right-cart h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(20px + 1vw);
    margin: 1vw 0;
    text-align: center;
    font-weight: bold;
}

.right-cart hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.right-cart h2 {
    font-size: calc(10px + 1vw);
    margin-bottom: 10px;
}

.right-cart p {
    font-size: calc(5px + 0.5vw);
    text-align: justify;
    color: #777;
    margin-bottom: 15px;
}

.right-cart input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

.right-cart button#submitButtonCode {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Josefin Sans", sans-serif;
}

.right-cart button#submitButtonCode:hover {
    background-color: #535252;
}

.total {
    background-color: #E7C863;
    padding: 1em;
    border-radius: 15px;
    margin-top: 20px;
}

.total h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

.total-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-flex p, .total-flex span {
    margin: 0;
    color: #333;
}

.total button#submitButton {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.total button#submitButton:hover {
    background-color: #333;
    color: #fff;
}

#discount{
    color: white;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .left-cart{
        width: 100%;
    }
    .cart-section {
        flex-direction: column;
    }
}
